// Breakpoints
$mobile-width: 768px;
$tablet-width: 1024px;

@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}