@use 'variables' as *;

// --- Media Queries ---
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

// --- Flex Helpers ---
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}